In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

operations = pd.read_csv('operations.csv', sep=',', decimal=',')
dataset = pd.read_csv('dataset.csv', sep=',', decimal=',')
types = pd.read_csv('types.csv', sep=';', decimal=',')
codes = pd.read_csv('codes.csv',sep=';')
newset = pd.merge(operations, types, on = 'type')
allsets = pd.merge(newset, codes, on = 'code')
idsets= pd.merge(allsets,dataset,on='client_id')
idsets[:10]

,client_id,datetime,code,type,sum,source_id,type_description,code_description,status
0,96372458,421 06:33:15,6011,2010,-561478.94,256572,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
1,96372458,68 02:04:11,6011,2010,-426724.0,NaN,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
2,96372458,433 06:45:32,6011,2010,-112295.79,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
3,96372458,314 01:18:44,6011,2010,-1122957.89,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
4,96372458,350 01:09:16,6011,2010,-1100498.73,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
5,96372458,445 07:35:23,6011,2010,-494101.47,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
6,96372458,396 07:48:53,6011,2010,-101066.21,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
7,96372458,430 06:29:50,6011,2010,-224591.58,256566,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
8,96372458,25 06:58:51,6011,2010,-78607.05,NaN,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0
9,96372458,421 01:56:12,6011,2010,-314428.21,581606,Выдача наличных в АТМ Сбербанк России,Финансовые институты — снятие наличности автом...,0

In [3]:

dataMerged3[dataMerged3['client_id']>61500000][dataMerged3['client_id']<81500000]['client_id'].hist(bins=50,color = 'teal')
plt.show()

NameError: name 'dataMerged3' is not defined

In [3]:
import matplotlib.pyplot as plt
dataMerged3[dataMerged3['sum'].hist(bins=50,color = 'red')
plt.show()

SyntaxError: invalid syntax (<ipython-input-3-f18b9cdc1513>, line 3)

In [4]:

import matplotlib.pyplot as plt
dataMerged3[dataMerged3['code'].hist(bins=50,color = 'blue')
plt.show()

SyntaxError: invalid syntax (<ipython-input-4-93a437c6fd4b>, line 4)

In [5]:
import matplotlib.pyplot as plt
dataMerged3[dataMerged3['type'].hist(bins=50,color = 'green')
plt.show()

SyntaxError: invalid syntax (<ipython-input-5-3a18bcf0913f>, line 3)

In [ ]:
import matplotlib.pyplot as plt
dataMerged3[dataMerged3['status'].hist(bins=50,color = 'yellow')
plt.show()